wisp
*.wasm
*.heap
.direnv
node_modules
*.dSYM
/README.html
/README.pdf
/README.tex
.log
zig-out
zig-cache
*.core
wapm_packages
perf.data
*.old
wisp-tapes
tmp
.zig-cache
.DS_Store
web/cors-proxy.pid
**/.zig-cache