/* -*- fill-column: 64; -*-
 *
 * This file is part of Wisp.
 *
 * Wisp is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version
 * 3 of the License, or (at your option) any later version.
 *
 * Wisp is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Wisp. If not, see
 * <https://www.gnu.org/licenses/>.
 */

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  background: #eee;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

html {
  --sans: apple-system, BlinkMacSystemFont, avenir next,
          avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto,
          noto, arial, sans-serif
}

html {
  --mono: Berkeley Mono, DM Mono, Source Code Pro, Inconsolata, Menlo,
          Consolas, Monaco, Liberation Mono, Lucida Console,
          monospace;
}

* {
  font-family: var(--mono);
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#repl {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#output {
  flex-grow: 1;
  padding: 5px 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#output > * {
  border: 1px solid #ccc;
  padding: 5px;
  background: #fafafa;
}

form {
  display: flex;
  align-items: center;
}

input {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  background: white;
  border: 0;
  border-top: 1px solid #aaa;
  color: inherit;
}

#output input {
  border: 1px solid #aaa;
  margin-top: 5px;
}

input:focus {
  outline: 0;
}

.list {
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 2px;
}

.list {
  border: 0 solid #0005;
  border-width: 0 1.5px;
  border-radius: 6px;
  padding: 1px 5px;
  background: #aaaaaa0e;
  align-items: center;
}

.titlebar {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.list.dotted > *:last-child::before {
  content: ".";
  padding-right: 5px;
}

td:first-child {
  padding-right: 5px;
}

.sym[data-package="WISP"] .pkg {
  display: none;
}

.list > .sym[data-funtag=jet]:first-child .str {
  color: navy;
}

.list > .sym[data-funtag=mac]:first-child .str {
  color: mediumblue;
}

.list.v32 {
  border-radius: 4px;
  border-width: 1px 2px;
  border-color: cadetblue;
  background: #aabbcc3e;
}

.nil { height: 1em; }
